# Dependencies
node_modules/
.pnp
.pnp.js

# Build
.next/
out/
dist/
build/
*.tsbuildinfo

# Env
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp

# Docker
docker-data/

# Testing
coverage/
